@charset "UTF-8";
/* media query */
/* flexbox */
/*common styles*/
.container {
  color: #333;
  font-family: Helvetica, "游ゴシック", "Yu Gothic", YuGothic, HiraKakuProN-W3, "メイリオ", Meiryo, sans-serif;
  font-size: 16px;
  margin: 0 auto;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .header {
    padding: 50px 20px 15px;
    position: relative;
  }
}

.header__logo {
  width: 180px;
  padding: 16px 20px 8px 20px;
  text-align: left;
}

@media screen and (min-width: 768px) {
  .header__logo {
    width: 240px;
    padding: 0 20px;
  }
}

.header__list {
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  border-top: 2px solid #c4c4c4;
  border-bottom: 2px solid #c4c4c4;
  font-family: "Lato", sans-serif;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .header__list {
    border: none;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.header__item {
  border-right: 2px solid #c4c4c4;
  width: 32%;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .header__item {
    border: none;
    width: auto;
  }
}

.header__item--last {
  width: 32%;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .header__item--last {
    border: none;
    width: auto;
  }
}

.header__link {
  display: block;
  width: 100%;
  padding: 14px 0;
}

@media screen and (min-width: 768px) {
  .header__link {
    width: auto;
    padding: 10px 30px;
  }
}

.header__snsList {
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  margin: 5px 0 0;
}

@media screen and (min-width: 768px) {
  .header__snsList {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    position: absolute;
    top: 35%;
    right: 4%;
  }
}

.header__snsBtn {
  display: block;
  width: 50px;
  text-align: center;
  font-size: 24px;
  padding: 10px 0;
}

@media screen and (min-width: 768px) {
  .header__snsBtn {
    width: 60px;
    padding: 10px;
  }
}

.firstView__wrapper {
  position: relative;
  padding: 0 0 30px;
}

.firstView__textBox {
  background-color: #d6f8fc;
  font-family: "Lato", sans-serif;
  font-size: .8rem;
  width: 260px;
  opacity: .8;
  padding: 20px 0 20px 20px;
  position: absolute;
  bottom: 18%;
  left: 0%;
  line-height: 2;
}

@media screen and (min-width: 768px) {
  .firstView__textBox {
    font-size: 14px;
    width: 320px;
    padding: 10px 0px 10px 30px;
    bottom: 60%;
    left: 4%;
  }
}

@media screen and (min-width: 1080px) {
  .firstView__textBox {
    width: 360px;
    bottom: 60%;
    left: 10%;
    padding: 20px 0 20px 50px;
  }
}

.firstView__text {
  display: block;
  margin: 5px auto;
}

.firstView__image--pc {
  display: none;
}

@media screen and (min-width: 768px) {
  .firstView__image--pc {
    display: block;
    max-width: 1154px;
    margin: 0 auto;
  }
}

.firstView__image--sp {
  max-width: 510px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .firstView__image--sp {
    display: none;
  }
}

.section {
  padding: 0 20px 20px;
}

@media screen and (min-width: 768px) {
  .section {
    padding: 20px;
  }
}

.section__title {
  margin: 10px 0;
}

.section__titleText {
  font-family: "Lato", sans-serif;
  font-size: 26px;
  letter-spacing: 1.2px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .section__innerWrapper {
    display: -webkit-box;
    display: flex;
    display: -ms-flexbox;
    justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
  }
}

.section__inner01 {
  padding: 0 0 10px;
}

@media screen and (min-width: 768px) {
  .section__inner01 {
    padding: 0;
  }
}

.section__iconImg {
  display: block;
  margin: 0 auto 10px;
  width: 26%;
}

@media screen and (min-width: 768px) {
  .section__iconImg {
    width: 42%;
  }
}

@media screen and (min-width: 1080px) {
  .section__iconImg {
    width: 160px;
  }
}

.section__iconText {
  font-size: 18px;
  text-align: center;
}

.section__inner02 {
  padding: 10px 0;
}

@media screen and (min-width: 768px) {
  .section__inner02 {
    font-size: 16px;
    margin: 0 20px;
  }
}

.section__innerText {
  font-size: 14px;
  line-height: 2;
}

@media screen and (min-width: 768px) {
  .section__innerText {
    font-size: 16px;
  }
}

.footer__contactArea {
  width: 240px;
  margin: 0 auto;
}

.footer__contactLinkBtn {
  background-color: #98e4ec;
  display: block;
  width: 100%;
  padding: 10px;
  text-align: center;
}

.footer__main {
  margin: 50px 0 0;
}

@media screen and (min-width: 768px) {
  .footer__nav {
    position: relative;
  }
}

.footer__list {
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  border-top: 2px solid #c4c4c4;
  border-bottom: 2px solid #c4c4c4;
  font-family: "Lato", sans-serif;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .footer__list {
    border: none;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    position: absolute;
    top: 20px;
    left: 0;
  }
}

.footer__item {
  border-right: 2px solid #c4c4c4;
  width: 32%;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer__item {
    border: none;
    width: auto;
  }
}

.footer__item--last {
  width: 32%;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer__item--last {
    border: none;
    width: auto;
  }
}

.footer__link {
  display: block;
  width: 100%;
  padding: 14px 0;
}

@media screen and (min-width: 768px) {
  .footer__link {
    width: auto;
    padding: 10px 30px;
  }
}

.footer__bottom {
  background-color: #d6f8fc;
  margin: 20px 0 0;
  width: 100%;
}

.footer__copyright {
  display: block;
  color: #c4c4c4;
  font-family: "Lato", sans-serif;
  text-align: center;
  padding: 30px 0;
}

@media screen and (min-width: 768px) {
  .footer__copyright {
    text-align: right;
    padding: 30px;
  }
}

.profile__img {
  max-width: 80%;
  margin: 0 auto;
}

.profile__topText {
  margin: 20px;
  text-align: center;
}

.profile__name {
  padding: 0 0 10px;
}

.profile__innerText {
  padding: 0 0 10px;
}

.history {
  background-color: #d6f8fc;
  width: 100%;
}

.history__wrapper {
  padding: 20px 20px 0;
}

.history__innerText {
  font-size: 14px;
  line-height: 2;
  padding: 0 5px 15px;
}

.strength {
  margin: 40px 0;
}

.strength__wrapper {
  border: 2px solid #c4c4c4;
  width: 84%;
  margin: 0 auto;
}

.strength__innerText {
  font-size: 14px;
  line-height: 2;
  padding: 10px 5px;
  text-align: center;
}

.works__container {
  margin: 0 20px;
}

.works__item {
  margin: 20px 0 40px;
}

.works__text {
  font-size: 14px;
  line-height: 2;
}

.works__title {
  padding: 5px 0;
}

.works__skills {
  color: #c4c4c4;
  padding: 5px 0;
}

.works__containerForTopPage {
  padding: 10px 0 20px;
}

@media screen and (min-width: 768px) {
  .works__listForTopPage {
    display: -webkit-box;
    display: flex;
    display: -ms-flexbox;
    justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
  }
}

.works__itemForTopPage {
  margin: 0 0 10px;
}

.works__imgForTopPage {
  display: block;
  width: 80%;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .works__imgForTopPage {
    width: 70%;
    margin: 0 auto;
  }
}

.works__linkBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.works__link {
  display: block;
  font-family: "Lato", sans-serif;
  padding: 10px 20px 0;
}

@media screen and (min-width: 768px) {
  .works__link {
    padding: 20px 50px 0;
  }
}

.works__arrow {
  display: block;
  width: 25%;
}

@media screen and (min-width: 768px) {
  .works__arrow {
    width: 10%;
    padding: 0 20px 0 0;
  }
}

.contact__container {
  width: 100%;
  height: 1100px;
  position: relative;
}

.contact__form {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
/*# sourceMappingURL=styles.css.map */