@charset "UTF-8";
/* Color */
/* font-family */
/* font-size */
/* media query */
/* media query */
/* flexbox */
/*common styles*/
.container {
  color: #333;
  font-family: Helvetica, "游ゴシック", "Yu Gothic", YuGothic, HiraKakuProN-W3, "メイリオ", Meiryo, sans-serif;
  font-size: 16px;
  margin: 0 auto;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .container {
    width: 100vw;
  }
}

.header__logo {
  width: 210px;
  margin: 0 auto;
  padding: 20px 0 10px;
}

.header__list {
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  border-top: 2px solid #c4c4c4;
  border-bottom: 2px solid #c4c4c4;
  font-family: "Lato", sans-serif;
  width: 100%;
}

.header__item {
  border-right: 2px solid #c4c4c4;
  width: 32%;
  text-align: center;
}

.header__item--last {
  width: 32%;
  text-align: center;
}

.header__link {
  display: block;
  width: 100%;
  padding: 15px 0;
}

.header__snsList {
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  height: 60px;
}

.header__snsBtn {
  width: 50px;
  text-align: center;
  font-size: 24px;
}

.firstView__wrapper {
  position: relative;
  margin: 0 0 60px;
}

.firstView__textBox {
  background-color: #d6f8fc;
  font-family: "Lato", sans-serif;
  font-size: .8rem;
  width: 260px;
  opacity: .8;
  padding: 10px;
  position: absolute;
  top: 35vh;
  left: 0px;
  line-height: 2;
}

.firstView__text {
  display: block;
  margin: 5px auto;
}

.firstView__image--pc {
  display: none;
}

.firstView__image--sp {
  max-width: 80%;
  margin: 0 auto;
}

.section {
  margin: 20px 0;
  padding: 0 20px;
}

.section__title {
  margin: 10px 0;
}

.section__titleText {
  font-family: "Lato", sans-serif;
  font-size: 26px;
  letter-spacing: 1.2px;
  text-align: center;
}

.section__inner01 {
  padding: 0 0 10px;
}

.section__iconImg {
  margin: 0 auto;
  width: 20%;
}

.section__iconText {
  font-size: 18px;
  text-align: center;
}

.section__inner02 {
  padding: 10px 0;
}

.section__innerText {
  font-size: 14px;
  line-height: 2;
}

.footer {
  margin: 50px 0 0;
}

.footer__contactArea {
  width: 240px;
  margin: 0 auto;
}

.footer__contactLinkBtn {
  background-color: #98e4ec;
  display: block;
  width: 100%;
  padding: 10px;
  text-align: center;
}

.footer__main {
  margin: 50px 0 0;
}

.footer__list {
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  border-top: 2px solid #c4c4c4;
  border-bottom: 2px solid #c4c4c4;
  font-family: "Lato", sans-serif;
}

.footer__item {
  border-right: 2px solid #c4c4c4;
  width: 32%;
  text-align: center;
}

.footer__item--last {
  width: 32%;
  text-align: center;
}

.footer__link {
  display: block;
  width: 100%;
  padding: 15px 0;
}

.footer__bottom {
  background-color: #d6f8fc;
  margin: 20px 0 0;
  width: 100%;
}

.footer__copyright {
  display: block;
  color: #c4c4c4;
  font-family: "Lato", sans-serif;
  text-align: center;
  padding: 30px 0;
}

.profile__img {
  max-width: 80%;
  margin: 0 auto;
}

.profile__topText {
  margin: 20px;
  text-align: center;
}

.profile__name {
  padding: 0 0 10px;
}

.profile__innerText {
  padding: 0 0 10px;
}

.history {
  background-color: #d6f8fc;
  width: 100%;
}

.history__wrapper {
  padding: 20px 20px 0;
}

.history__innerText {
  font-size: 14px;
  line-height: 2;
  padding: 0 5px 15px;
}

.strength {
  margin: 40px 0;
}

.strength__wrapper {
  border: 2px solid #c4c4c4;
  width: 84%;
  margin: 0 auto;
}

.strength__innerText {
  font-size: 14px;
  line-height: 2;
  padding: 10px 5px;
  text-align: center;
}

.works__container {
  margin: 0 20px;
}

.works__item {
  margin: 20px 0 40px;
}

.works__text {
  font-size: 14px;
  line-height: 2;
}

.works__title {
  padding: 5px 0;
}

.works__skills {
  color: #c4c4c4;
  padding: 5px 0;
}

.works__linkBtn {
  float: right;
  margin: 0 10px 0 0;
  width: 30%;
}

.works__link {
  display: block;
  font-family: "Lato", sans-serif;
  padding: 5px 0 0 10px;
}

.works__arrow {
  padding: 0 0 0 30px;
}

.contact__container {
  width: 100%;
  height: 1100px;
  position: relative;
}

.contact__form {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
/*# sourceMappingURL=styles.css.map */