/* Color */
$main-color0: #333;
$main-color1: #c4c4c4;
$main-background: #c8f5fa;
$sub-background: #98e4ec;

/* font-family */
$main-font-family0: Helvetica, '游ゴシック', 'Yu Gothic', YuGothic, HiraKakuProN-W3, 'メイリオ', Meiryo, sans-serif;
$main-font-family1: 'Lato', sans-serif;

/* font-size */
$main-font-size: 16px;
$sub-font-size0: 14px;
$sub-font-size1: 18px;
$index-font-size: 26px;


/* media query */
$iPad_PC: 768px; //iPad等タブレットおよびPC（768px以上）

