/* variables */
$main-color0: #333;
$main-color1: #c4c4c4;
$main-background: #d6f8fc;
$sub-background: #98e4ec;

$main-font-family0: Helvetica,
'游ゴシック',
'Yu Gothic',
YuGothic,
HiraKakuProN-W3,
'メイリオ',
Meiryo,
sans-serif;
$main-font-family1: 'Lato',
sans-serif;

$main-font-size: 16px;
$sub-font-size0: 14px;
$sub-font-size1: 18px;
$index-font-size: 26px;

$iPad: 768px; //iPad等タブレット（768px以上）
$PC: 1080px; //PC（1080px以上）

/* media query */
@mixin iPad {
  @media screen and (min-width: $iPad) {
    @content;
  }
}

@mixin PC {
  @media screen and (min-width: $PC) {
    @content;
  }
}

/* flexbox */
@mixin flex($justify: center, $align: center) {
  display: flex;
  display: -webkit-flex; //Safari,Android,iOS対応
  display: -ms-flexbox; //IE対応
  justify-content: $justify;
  -webkit-box-pack: $justify; //Safari,Android,iOS対応
  -ms-flex-pack: $justify; //IE対応
  align-items: $align;
  -webkit-box-align: $align; //Safari,Android,iOS対応
  -ms-flex-align: $align; //IE対応
}

/*common styles*/
.container {
  color: $main-color0;
  font-family: $main-font-family0;
  font-size: $main-font-size;
  margin: 0 auto;
  overflow: hidden;
}

.header {
  @include flex($justify: space-between, $align: center);

  @include iPad {
    padding: 16px;
  }

  @include PC {
    max-width: 1080px;
    margin: 0 auto;
    padding: 24px 0 24px;
  }

  &__logoImg {
    display: block;
    width: 160px;
    padding: 16px;
    text-align: left;

    @include iPad {
      width: 240px;
      padding: 16px 24px;
    }

    @include PC {
      padding: 0;
    }
  }

  &__spMenu {
    cursor: pointer;
    font-size: $sub-font-size1;
    padding: 24px;
    z-index: 200;

    &--hide {
      display: none;
    }

    @include iPad {
      display: none;
    }
  }

  &__overlay {
    background: #fafafa;
    cursor: pointer;
    font-size: $sub-font-size1;
    font-family: $main-font-family1;
    position: fixed;
    top: 0;
    right: -320px;
    width: 240px;
    height: 100vh;
    padding: 40px 0 0;
    text-align: center;
    transition: all .6s;
    z-index: 300;
    overflow-y: auto;

    &--open {
      right: 0;
    }

    @include iPad {
      display: none;
    }
  }

  &__spCloseMenu {
    position: absolute;
    top: 0;
    right: 0;
    padding: 24px;
  }

  &__tabletPcMenu {
    display: none;

    @include iPad {
      @include flex($justify: center, $align: flex-end);
      flex-direction: column;
    }
  }

  &__list {
    line-height: 64px;
    margin: 0;
    padding: 0;

    @include iPad {
      @include flex($justify: center, $align: center);
      justify-content: flex-end;
      line-height: 24px;
    }
  }

  &__item {
    text-align: center;
    padding: 0 14px;

    @include iPad {
      width: auto;
      padding: 0;
    }
  }

  &__link {
    display: block;
    padding: 8px 0;

    @include iPad {
      width: auto;
      padding: 8px 40px;
    }
  }

  &__snsList {
    @include flex($justify: center, $align: center);
    margin: 8px 0 0;

    @include iPad {
      margin: 0 16px 0 0;
    }
  }

  &__snsBtn {
    display: block;
    width: 64px;
    text-align: center;
    font-size: 24px;
    padding: 16px;

    @include iPad {
      width: 64px;
      padding: 16px;
    }
  }

  &__blackBg {
    background-color: #333;
    cursor: pointer;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    visibility: hidden;
    transition: all .6s;
    z-index: 100;

    &--mask {
      opacity: .7;
      visibility: visible;
    }
  }
}

.firstView {
  &__wrapper {
    position: relative;
    padding: 0 0 32px;
  }

  &__textBox {
    background-color: $main-background;
    font-family: $main-font-family1;
    font-size: .8rem;
    width: 256px;
    opacity: .8;
    padding: 16px 0 16px 16px;
    position: absolute;
    bottom: 18%;
    left: 0%;
    line-height: 2;

    @include iPad {
      font-size: $sub-font-size0;
      width: 320px;
      padding: 8px 0px 8px 32px;
      bottom: 60%;
      left: 4%;
    }

    @include PC {
      width: 360px;
      bottom: 60%;
      left: 10%;
      padding: 24px 0 24px 56px;
    }
  }

  &__text {
    display: block;
    margin: 8px auto;
  }

  &__image--pc {
    display: none;

    @include iPad {
      display: block;
      max-width: 1080px;
      margin: 0 auto;
    }
  }

  &__image--sp {
    max-width: 480px;
    margin: 0 auto;

    @include iPad {
      display: none;
    }
  }
}

.section {
  padding: 0 24px 24px;

  @include iPad {
    padding: 24px;
  }

  @include PC {
    max-width: 1080px;
    margin: 0 auto;
  }

  &__title {
    margin: 8px 0;
  }

  &__titleText {
    font-family: $main-font-family1;
    font-size: $index-font-size;
    letter-spacing: 1.2px;
    text-align: center;
  }

  // 各ページごとのタイトル書式
  &__pageTitle {
    margin: 16px 0;
    text-align: center;

    @include iPad {
      margin: 0 64px 16px;
      text-align: left;
    }

    @include PC {
      max-width: 1080px;
      margin: 0 auto 24px;
    }
  }

  &__pageTitleText {
    font-family: $main-font-family1;
    font-size: $index-font-size;
    letter-spacing: 1.2px;
  }

  // 各ページごとのページタイトル書式終わり
  &__innerWrapper {
    @include iPad {
      @include flex($justify: center, $align: center);
    }
  }

  &__inner01 {
    padding: 0 0 16px;

    @include iPad {
      padding: 0;
    }
  }

  &__iconImg {
    display: block;
    margin: 0 auto 16px;
    width: 24%;

    @include iPad {
      width: 40%;
    }

    @include PC {
      width: 128px;
    }
  }

  &__iconText {
    font-size: $sub-font-size1;
    text-align: center;
  }

  &__inner02 {
    padding: 16px 0;

    @include iPad {
      font-size: $main-font-size;
      margin: 0 16px;
    }

    @include PC {
      margin: 0 40px;
    }
  }

  &__innerText {
    font-size: $sub-font-size0;
    line-height: 2;

    @include iPad {
      font-size: $main-font-size;
    }
  }
}

.goToPageTop {
  display: block;
  position: fixed;
  bottom: 16px;
  right: 16px;

  @include iPad {
    bottom: 20px;
    right: 20px;
  }

  &__link {
    position: relative;
    display: block;
    border-radius: 50%;
    background-color: #333;
    width: 36px;
    height: 36px;
    line-height: 1.1;
    opacity: 0;
    z-index: 100;

    @include iPad {
      width: 48px;
      height: 48px;
    }

    @include PC {
      width: 56px;
      height: 56px;
    }

    &::after {
      position: absolute;
      content: '';
      top: 40%;
      left: 35%;
      width: 10px;
      height: 10px;
      border-top: solid 3px #fafafa;
      border-right: solid 3px #fafafa;
      -ms-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      z-index: 1000;

      @include iPad {
        width: 14px;
        height: 14px;
      }

      @include PC {
        width: 16px;
        height: 16px;
      }
    }
  }
}

.fadeIn {
  opacity: .9;
  transform: translateY(-20px);
  transition: all 1s;

  &:hover {
    opacity: .6;
  }
}

.footer {
  &__contactArea {
    width: 240px;
    margin: 0 auto 48px;

    @include iPad {
      width: 320px;
      margin: 0 auto 64px;
    }

    @include PC {
      width: 344px;
      margin: 0 auto 80px;
    }
  }

  &__contactLinkBtn {
    background-color: $sub-background;
    display: block;
    padding: 8px;
    width: 100%;
    text-align: center;

    &:hover {
      opacity: .9;
    }

    &:focus {
      opacity: 1;
    }

    @include iPad {
      padding: 16px;
    }
  }

  &__main {
    background-color: $main-background;
    width: 100%;
    padding: 32px 0;

    @include iPad {
      padding: 40px 0;
    }

    @include PC {
      padding: 56px 0;
    }
  }

  &__copyright {
    display: block;
    color: $main-color1;
    font-family: $main-font-family1;
    text-align: center;

    @include PC {
      max-width: 1080px;
      margin: 0 auto;
    }
  }
}

.profile {
  @include iPad {
    margin: 0 64px 40px;
    @include flex($justify: flex-start, $align: center);
  }

  @include PC {
    max-width: 1080px;
    margin: 0 auto 48px;
  }

  &__img {
    display: block;
    width: 80%;
    margin: 0 auto;

    @include iPad {
      width: 184px;
      margin: 0;
    }
  }

  &__topText {
    margin: 24px;
    text-align: center;

    @include iPad {
      font-size: $sub-font-size1;
      margin: 64px;
      text-align: left;
    }
  }

  &__name {
    padding: 0 0 8px;
  }

  &__innerText {
    padding: 0 0 8px;
  }
}

.history {
  background-color: $main-background;
  width: 100%;

  @include iPad {
    background-color: #fff;
  }

  &__wrapper {
    padding: 32px 16px 16px;

    @include iPad {
      padding: 0 64px 0;
    }

    @include PC {
      margin: 0 auto;
      padding: 0;
      max-width: 1080px;
    }
  }

  &__innerText {
    font-size: $sub-font-size0;
    line-height: 2;
    padding: 0 8px 16px;
  }
}

.strength {
  margin: 40px 0;

  @include iPad {
    margin: 32px 0 64px;
  }

  @include PC {
    margin: 40px 0 64px;
  }

  &__wrapper {
    border: 2px solid $main-color1;
    width: 80%;
    margin: 0 auto;

    @include iPad {
      width: 72%;
    }

    @include PC {
      max-width: 1080px;
      width: 960px;
    }
  }

  &__innerText {
    font-size: $sub-font-size0;
    line-height: 2;
    padding: 16px;
    text-align: left;

    @include PC {
      text-align: center;
    }
  }
}

.works {
  &__container {
    margin: 0 16px 16px;

    @include iPad {
      margin: 0 64px 40px;
    }

    @include PC {
      max-width: 1080px;
      margin: 0 auto;
    }
  }


  &__item {
    padding: 0 0 40px;

    @include iPad {
      padding: 0 0 40px;
    }

    @include PC {
      @include flex($justify: center, $align: center);
      padding: 0 0 40px;
    }
  }

  &__img {
    @include iPad {
      display: block;
      width: 480px;
      height: 360px;
      margin: 0 auto 16px;
      object-fit: cover;
    }

    @include PC {
      width: 400px;
      height: 300px;
      margin: 0 64px 0 0;
    }
  }

  &__text {
    font-size: $sub-font-size0;
    line-height: 2;

    @include PC {
      width: 560px;
    }
  }

  &__title {
    @include PC {
      font-size: $sub-font-size1;
    }
  }

  &__skills {
    color: $main-color1;
    padding: 0 0 8px;
  }

  &__innerText {
    font-size: $sub-font-size0;
  }

  // 以下、index.html内のworks部分
  &__containerForTopPage {
    padding: 16px 0 24px;
  }

  &__listForTopPage {
    @include iPad {
      @include flex($justify:space-around, $align:center)
    }
  }

  &__itemForTopPage {
    margin: 0 0 16px;
  }

  &__imgForTopPage {
    display: block;
    width: 80%;
    margin: 0 auto;

    @include iPad {
      width: 240px;
      height: 180px;
      margin: 0 auto 16px;
      object-fit: cover;
    }

    @include PC {
      width: 400px;
      height: 300px;
    }
  }

  &__linkBtn {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__link {
    display: block;
    font-family: $main-font-family1;
    padding: 8px 24px 0;

    @include iPad {
      padding: 24px 48px 0;
    }
  }

  &__arrow {
    display: block;
    width: 25%;

    @include iPad {
      width: 10%;
      padding: 0 24px 0 0;
    }
  }
}

.contact {
  padding: 0 24px 0;

  @include iPad {
    margin: 0 64px 0;
    padding: 0;
  }

  @include PC {
    max-width: 1080px;
    margin: 0 auto;
  }

  &__titleWrapper {
    background-color: $sub-background;
    margin: 0 0 32px;
    padding: 8px 16px;

    @include iPad {
      margin: 0 16px 48px;
      padding: 8px 32px;
    }

    @include PC {
      margin: 0 16px 64px;
      padding: 16px 32px;
    }
  }

  &__title {
    margin: 0 0 8px;

    @include PC {
      font-size: $sub-font-size1;
    }
  }

  &__text {
    font-size: $sub-font-size0;

    @include PC {
      font-size: $main-font-size;
    }
  }

  &__form {
    padding: 0 16px 0;

    @include iPad {
      padding: 0 80px 0;
    }

    @include PC {
      margin: 0 auto;
      padding: 0 96px 0;
      width: 72%;
    }
  }

  &__label {
    line-height: 2;
  }

  &__input {
    background-color: #fafafa;
    border: none;
    border-radius: 4px;
    color: $main-color0;
    margin: 0 0 16px;
    padding: 8px;
    width: 100%;

    &:focus {
      outline: none;
    }

    @include iPad {
      margin: 0 0 32px;
    }
  }

  &__textarea {
    height: 160px;
    margin: 0 0 24px;

    @include iPad {
      margin: 0 0 40px;
    }

    @include PC {
      margin: 0 0 48px;
    }
  }

  &__submitBtn {
    background-color: $sub-background;
    border: none;
    display: block;
    margin: 0 auto 48px;
    padding: 8px;
    width: 240px;
    text-align: center;

    &:hover {
      cursor: pointer;
      opacity: .9;
    }

    &:focus {
      opacity: 1;
      outline: none;
      transform: translateY;
    }

    @include iPad {
      margin: 0 auto 64px;
      padding: 16px;
      width: 320px;
    }

    @include PC {
      margin: 0 auto 80px;
      width: 344px;
    }
  }

  &__response {
    margin: 0 0 40vh;
    padding: 0 24px 0;
    line-height: 2;

    @include iPad {
      margin: 0 64px 60vh;
      padding: 0;
    }

    @include PC {
      max-width: 1080px;
      margin: 0 auto 50vh;
    }
  }
}
