@import "variables";

/* media query */
@mixin iPad {
  @media screen and (min-width: $iPad) {
    @content;
  }
}

@mixin PC {
  @media screen and (min-width: $PC) {
    @content;
  }
}

/* flexbox */
@mixin flex($justify: center, $align: center) {
  display: flex;
  display: -webkit-flex; //Safari,Android,iOS対応
  display: -ms-flexbox; //IE対応
  justify-content: $justify;
  -webkit-box-pack: $justify; //Safari,Android,iOS対応
  -ms-flex-pack: $justify; //IE対応
  align-items: $align;
  -webkit-box-align: $align; //Safari,Android,iOS対応
  -ms-flex-align: $align; //IE対応
}

/*common styles*/
.container {
  color: $main-color0;
  font-family: $main-font-family0;
  font-size: $main-font-size;
  margin: 0 auto;
  overflow: hidden;
}

.header {
  @include iPad {
    padding: 40px 20px 15px;
    position: relative;
  }
  @include PC {
    max-width: 1080px;
    margin: 0 auto;
    padding: 40px 0 30px;
  }

  &__logoImg {
    width: 180px;
    padding: 16px 20px 8px 20px;
    text-align: left;
    @include iPad {
      width: 240px;
      padding: 0 20px;
    }
    @include PC {
      padding: 0;
    }
  }

  &__list {
    @include flex($justify: center, $align: center);
    border-top: 2px solid $main-color1;
    border-bottom: 2px solid $main-color1;
    font-family: $main-font-family1;
    width: 100%;
    @include iPad {
      border: none;
      justify-content: flex-end;
    }
  }

  &__item {
    border-right: 2px solid $main-color1;
    width: 32%;
    text-align: center;
    @include iPad {
      border: none;
      width: auto;
    }
  }

  &__item--last {
    width: 32%;
    text-align: center;
    @include iPad {
      border: none;
      width: auto;
    }
  }

  &__link {
    display: block;
    width: 100%;
    padding: 14px 0;
    @include iPad {
      width: auto;
      padding: 10px 30px;
    }
  }

  &__snsList {
    @include flex($justify: center, $align: center);
    margin: 5px 0 0;
    @include iPad {
      align-items: end;
      position: absolute;
      top: 30%;
      right: 4%;
    }
    @include PC {
      top: 30%;
      right: 0;
    }
  }

  &__snsBtn {
    display: block;
    width: 50px;
    text-align: center;
    font-size: 24px;
    padding: 10px 0;
    @include iPad {
      width: 60px;
      padding: 10px;
    }
  }
}

.firstView {
  &__wrapper {
    position: relative;
    padding: 0 0 30px;
  }

  &__textBox {
    background-color: $main-background;
    font-family: $main-font-family1;
    font-size: .8rem;
    width: 260px;
    opacity: .8;
    padding: 20px 0 20px 20px;
    position: absolute;
    bottom: 18%;
    left: 0%;
    line-height: 2;
    @include iPad {
      font-size: $sub-font-size0;
      width: 320px;
      padding: 10px 0px 10px 30px;
      bottom: 60%;
      left: 4%;
    }
    @include PC {
      width: 360px;
      bottom: 60%;
      left: 10%;
      padding: 20px 0 20px 50px;
    }
  }

  &__text {
    display: block;
    margin: 5px auto;
  }

  &__image--pc {
    display: none;
    @include iPad {
      display: block;
      max-width: 1080px;
      margin: 0 auto;
    }
  }

  &__image--sp {
    max-width: 510px;
    margin: 0 auto;
    @include iPad {
      display: none;
    }
  }
}

.section {
  padding: 0 20px 20px;
  @include iPad {
    padding: 20px;
  }
  @include PC {
    max-width: 1080px;
    margin: 0 auto;
  }

  &__title {
    margin: 10px 0;
  }

  &__titleText {
    font-family: $main-font-family1;
    font-size: $index-font-size;
    letter-spacing: 1.2px;
    text-align: center;
  }
  // 各ページごとのタイトル書式
  &__pageTitle {
    margin: 10px 0;
    text-align: center;
    @include iPad {
      margin: 0 60px 20px;
      text-align: left;
    }
    @include PC {
      max-width: 1080px;
      margin: 0 auto 20px;
    }
  }

  &__pageTitleText {
    font-family: $main-font-family1;
    font-size: $index-font-size;
    letter-spacing: 1.2px;
  }
  // 各ページごとのページタイトル書式終わり
  &__innerWrapper {
    @include iPad {
      @include flex($justify: center, $align: center);
    }
  }

  &__inner01 {
    padding: 0 0 10px;
    @include iPad {
      padding: 0;
    }
  }

  &__iconImg {
    display: block;
    margin: 0 auto 10px;
    width: 26%;
    @include iPad {
      width: 42%;
    }
    @include PC {
      width: 140px;
    }
  }

  &__iconText {
    font-size: $sub-font-size1;
    text-align: center;
  }

  &__inner02 {
    padding: 10px 0;
    @include iPad {
      font-size: $main-font-size;
      margin: 0 20px;
    }
    @include PC {
      margin: 0 40px;
    }
  }

  &__innerText {
    font-size: $sub-font-size0;
    line-height: 2;
    @include iPad {
      font-size: $main-font-size;
    }
  }
}

.footer {
  &__contactArea {
    width: 280px;
    margin: 0 auto 50px;
    @include PC {
      margin: 0 auto 60px;
    }
  }

  &__contactLinkBtn {
    background-color: $sub-background;
    display: block;
    width: 100%;
    padding: 10px;
    text-align: center;
  }

  &__nav{
    @include iPad {
      position: relative;
    }
    @include PC {
      max-width: 1080px;
      margin: 0 auto;
    }
  }

  &__list {
    @include flex($justify: center, $align: center);
    border-top: 2px solid $main-color1;
    border-bottom: 2px solid $main-color1;
    font-family: $main-font-family1;
    width: 100%;
    @include iPad {
      border: none;
      justify-content: flex-start;
      position: absolute;
      top: 20px;
      left: 0;
    }
  }

  &__item {
    border-right: 2px solid $main-color1;
    width: 32%;
    text-align: center;
    @include iPad {
      border: none;
      width: auto;
    }
  }

  &__item--last {
    width: 32%;
    text-align: center;
    @include iPad {
      border: none;
      width: auto;
    }
  }

  &__link {
    display: block;
    width: 100%;
    padding: 14px 0;
    @include iPad {
      width: auto;
      padding: 10px 30px;
    }
  }

  &__bottom {
    background-color: $main-background;
    width: 100%;
    margin: 20px 0 0;
    padding: 30px 0;
    @include iPad {
      padding: 30px;
    }
    @include PC {
      padding: 30px 0;
    }
  }

  &__copyright {
    display: block;
    color: $main-color1;
    font-family: $main-font-family1;
    text-align: center;
    @include iPad {
      text-align: right;
    }
    @include PC {
      max-width: 1080px;
      margin: 0 auto;
    }
  }
}

.profile {
  @include iPad {
    margin: 0 60px 40px;
    @include flex($justify: flex-start, $align: center);
  }
  @include PC {
    max-width: 1080px;
    margin: 0 auto 60px;
  }

  &__img {
    display: block;
    width: 80%;
    margin: 0 auto;
    @include iPad {
      width: 200px;
      margin: 0;
    }
  }

  &__topText {
    margin: 20px;
    text-align: center;
    @include iPad {
      font-size: $sub-font-size1;
      margin: 60px;
      text-align: left;
    }
  }

  &__name {
    padding: 0 0 10px;
  }

  &__innerText {
    padding: 0 0 10px;
  }
}

.history {
  background-color: $main-background;
  width: 100%;
  @include iPad {
    background-color: #fff;
  }

  &__wrapper {
    padding: 20px 20px 5px;
    @include iPad {
      padding: 0 60px 0;
    }
    @include PC {
      max-width: 1080px;
      margin: 0 auto;
      padding: 20px 0 0;
    }
  }

  &__innerText {
    font-size: $sub-font-size0;
    line-height: 2;
    padding: 0 5px 15px;
  }
}

.strength {
  margin: 40px 0;
  @include iPad {
    margin: 20px 0 60px;
  }
  @include PC {
    margin: 40px 0 60px;
  }

  &__wrapper {
    border: 2px solid $main-color1;
    width: 75%;
    margin: 0 auto;
    @include iPad {
      width: 65%;
    }
    @include PC {
      max-width: 1080px;
      width: 900px;
    }
  }

  &__innerText {
    font-size: $sub-font-size0;
    line-height: 2;
    padding: 12px;
    text-align: left;
    @include PC {
      text-align: center;
    }
  }
}

.works {

  &__container {
    margin: 0 20px 20px;
    @include iPad {
      margin: 0 60px 40px;
    }
    @include PC {
      max-width: 1080px;
      margin: 0 auto;
    }
  }


  &__item {
    padding: 0 0 40px;
    @include iPad {
      padding: 0 20px 40px;
    }
    @include PC {
      @include flex($justify: center, $align: center);
      padding: 0 0 40px;
    }
  }

  &__img {
    @include iPad {
      display: block;
      width: 500px;
      height: 375px;
      margin: 0 auto 10px;
      object-fit: cover;
    }
    @include PC {
      width: 400px;
      height: 300px;
      margin: 0 60px 0 0;
    }
  }

  &__text {
    font-size: $sub-font-size0;
    line-height: 2;
    @include PC {
      width: 600px;
    }
  }

  &__title {
    padding: 5px 0;
    @include PC {
      font-size: $sub-font-size1;
    }
  }

  &__skills {
    color: $main-color1;
    padding: 5px 0;
  }

  &__innerText {
    font-size: $sub-font-size0;
  }
  // 以下、index.html内のworks部分
  &__containerForTopPage {
    padding: 10px 0 20px;
  }

  &__listForTopPage {
    @include iPad {
      @include flex($justify:center, $align:center)
    }
  }

  &__itemForTopPage {
    margin: 0 0 10px;
  }

  &__imgForTopPage {
    display: block;
    width: 80%;
    margin: 0 auto;
    @include iPad {
      width: 70%;
      margin: 0 auto;
    }
  }

  &__linkBtn {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__link {
    display: block;
    font-family: $main-font-family1;
    padding: 10px 20px 0;
    @include iPad {
      padding: 20px 50px 0;
    }
  }

  &__arrow {
    display: block;
    width: 25%;
    @include iPad {
      width: 10%;
      padding: 0 20px 0 0;
    }
  }
}

.contact {
  &__container {
    width: 100%;
    height: 1100px;
    position: relative;
    @include iPad {
      margin: 40px 0 0;
    }
  }

  &__form {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
  }
}
