@import "variables";



/* media query */

@mixin iPad {
  @media screen and (min-width: $iPad) {
    @content;
  }
}

@mixin PC {
  @media screen and (min-width: $PC) {
    @content;
  }
}

/* flexbox */

@mixin flex($justify:center, $align:center) {
  display: flex;
  display: -webkit-flex; //Safari,Android,iOS対応
  display: -ms-flexbox; //IE対応
  justify-content: $justify;
  -webkit-box-pack: $justify; //Safari,Android,iOS対応
  -ms-flex-pack: $justify; //IE対応
  align-items: $align;
  -webkit-box-align: $align; //Safari,Android,iOS対応
  -ms-flex-align: $align; //IE対応
}

/*common styles*/

.container {
  color: $main-color0;
  font-family: $main-font-family0;
  font-size: $main-font-size;
  margin: 0 auto;
  overflow: hidden;
}

.header {

  &__logo {
    width: 210px;
    margin: 0 auto;
    padding: 20px 0 10px;
  }

  &__logoImg {
  }

  &__nav {
  }

  &__list {
    @include flex($justify:center, $align:center);
    border-top: 2px solid $main-color1;
    border-bottom: 2px solid $main-color1;
    font-family: $main-font-family1;
    width: 100%;
  }

  &__item {
    border-right: 2px solid $main-color1;
    width: 32%;
    text-align: center;
  }

  &__item--last {
    width: 32%;
    text-align: center;
  }

  &__link {
    display: block;
    width: 100%;
    padding: 15px 0;
  }

  &__snsList {
    @include flex($justify:center, $align:center);
    height: 60px;
  }

  &__snsBtn {
    width: 50px;
    text-align: center;
    font-size: 24px;
  }
}

.firstView {

  &__wrapper {
    position: relative;
    margin: 0 0 60px;
  }

  &__textBox {
    background-color: $main-background;
    font-family: $main-font-family1;
    font-size: .8rem;
    width: 260px;
    opacity: .8;
    padding: 10px 0 10px 20px;
    position: absolute;
    top: 45vh;
    left: 0px;
    line-height: 2;

    @include iPad {
      font-size: $sub-font-size0;
      width: 300px;
      top: 260px;
      left: 20px;
    }

    @include PC {
      // font-size: $main-font-size;
      width: 360px;
      top: 160px;
      left: 80px;
      padding: 20px 0 20px 40px;
    }
  }

  &__text {
    display: block;
    margin: 5px auto;
  }

  &__image--pc {
    display: none;

    @include iPad {
      display: block;
      max-width: 1154px;
      margin: 0 auto;
    }
  }

  &__image--sp {
    max-width: 510px;
    margin: 0 auto;

    @include iPad {
      display: none;
    }
  }
}

.section {
  margin: 20px 0;
  padding: 0 20px;

  &__title {
    margin: 10px 0;
  }

  &__titleText {
    font-family: $main-font-family1;
    font-size: $index-font-size;
    letter-spacing: 1.2px;
    text-align: center;
  }

  &__innerWrapper {
  }

  &__inner01 {
    padding: 0 0 10px;
  }

  &__iconImg {
    margin: 0 auto;
    width: 20%;
  }

  &__iconText {
    font-size: $sub-font-size1;
    text-align: center;
  }

  &__inner02 {
    padding: 10px 0;
  }

  &__innerText {
    font-size: $sub-font-size0;
    line-height: 2;
  }
}

.footer {
  margin: 50px 0 0;

  &__contactArea {
    width: 240px;
    margin: 0 auto;
  }

  &__contactLinkBtn {
    background-color: $sub-background;
    display: block;
    width: 100%;
    padding: 10px;
    text-align: center;
  }

  &__main {
    margin: 50px 0 0;
  }

  &__nav{
  }

  &__list {
    @include flex($justify:center, $align:center);
    border-top: 2px solid $main-color1;
    border-bottom: 2px solid $main-color1;
    font-family: $main-font-family1;
  }

  &__item {
    border-right: 2px solid $main-color1;
    width: 32%;
    text-align: center;
  }

  &__item--last {
    width: 32%;
    text-align: center;
  }

  &__link {
    display: block;
    width: 100%;
    padding: 15px 0;
  }

  &__bottom {
    background-color: $main-background;
    margin: 20px 0 0;
    width: 100%;
  }

  &__copyright {
    display: block;
    color: $main-color1;
    font-family: $main-font-family1;
    text-align: center;
    padding: 30px 0;
  }
}

.profile {

  &__img {
    max-width: 80%;
    margin: 0 auto;
  }

  &__topText {
    margin: 20px;
    text-align: center;
  }

  &__name {
    padding: 0 0 10px;
  }

  &__innerText {
    padding: 0 0 10px;
  }
}

.history {
  background-color: $main-background;
  width: 100%;

  &__wrapper {
    padding: 20px 20px 0;
  }

  &__innerText {
    font-size: $sub-font-size0;
    line-height: 2;
    padding: 0 5px 15px;
  }
}

.strength {
  margin: 40px 0;

  &__wrapper {
    border: 2px solid $main-color1;
    width: 84%;
    margin: 0 auto;
  }

  &__innerText {
    font-size: $sub-font-size0;
    line-height: 2;
    padding: 10px 5px;
    text-align: center;
  }
}

.works {

  &__container {
    margin: 0 20px;
  }

  &__list {

  }

  &__item {
    margin: 20px 0 40px;
  }

  &__img {

  }

  &__text {
    font-size: $sub-font-size0;
    line-height: 2;
  }

  &__title {
    padding: 5px 0;
  }

  &__skills {
    color: $main-color1;
    padding: 5px 0;
  }

  // index.html内のworks部分

  &__linkBtn {
    float: right;
    margin: 0 10px 0 0;
    width: 30%;
  }
  
  &__link {
    display: block;
    font-family: $main-font-family1;
    padding: 5px 0 0 10px;
  }

  &__arrow {
    padding: 0 0 0 30px;
  }
}

.contact {

  &__container {
    width: 100%;
    height: 1100px;
    position: relative;
  }

  &__form {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
  }
}
